* {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

body {
  /* background: rgb(236,136,180);
  background: radial-gradient(circle, rgba(236,136,180,1) 0%, rgba(193,211,232,1) 125%); */
  background: black;
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.219);
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.452); */
  display: flex;
  justify-content: center;
}

.header-container {
  min-width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.logo-desc {
  text-align: center;
  cursor: pointer;
  transition: all 0.20s ease-in-out;
}

.logo-desc:hover{
  opacity: 90%;
  transform: scale(1.02);
}


.logo-desc > h1 {
  /* background-color: rgb(236, 163, 165); */
  background-color: #695ccd;
  color: whitesmoke;
  margin-bottom: 3px;
  letter-spacing: 1.5vw;
  font-size: 55px;
  padding-left: 20px;
  padding-right: -10px;
}

.logo-desc > h5 {
  color: whitesmoke;
}

.redirect {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #695ccd;
}

.header-buttons-container {
  display: flex;
  flex-direction: row;
}

.header-buttons-container > a {
  font-size: 18px;
  margin: 5px;
  margin-right: 10px;
  border: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  /* background-color: #695ccd; */
  text-align: center;
  transition: all 0.25s ease-in-out;
  max-width: fit-content;
  padding: 6px;
}

.header-buttons-container > a:hover {
  background-color: #695ccd;
  color: #f9f9fa;
}

.landingpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpage-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpage-content > img {
  margin: 50px;
}

.landingpage-content > h3 {
  max-width: 70%;
  text-align: center;
  margin-top: -30px;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 50px;
}

.blue-highlight {
  background-color: #695ccd;
  padding: 1px;
}

.landpage-buttons {
  flex-direction: row;
  margin-top: 10px;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  background-color: rgb(238, 229, 229);
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  min-height: 100%;
}

form > h2 {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field > label {
  font-size: 15px;
  margin-bottom: 4px;
}

.field > label:hover {
  color: #695ccd;
}

.field > input {
  min-width: 100%;
  border-radius: 5px;
  border: hidden;
  min-height: 25px;
  font-size: 18px;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 5px;
  color: black;
  transition: all 0.15s ease-in-out;
}

.field > input:hover, .field > input:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.submit {
  margin-top: 10px;
  background-color: #695ccd;
  color: white;
  border: hidden;
  padding: 5px;
  border-radius: 5px;
  min-height: 30px;
  align-self: center;
  min-width: 80%;
  font-size: 16px;
  outline: none;
  transition: all 0.35s ease-in-out;
  margin-bottom: -20px;
  cursor: pointer;
}

.submit:hover {
  background-color: #695ccd80;

}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  min-height: 10%;
}

.profile .profile-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: auto 0;
  justify-content: flex-start;
}

.profile .names {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  margin-right: auto 0;
}

.profile .pinpoint {
max-width: auto;
max-height: 20px;
margin-right: auto;
}

.profile .location {
  display: flex;
  flex-direction: row;
  margin-right: auto 0;
}

.profile .single-goal {
  background-color: rgb(255, 221, 185);
  padding: 1vw;
  margin: 1vw;
}

.feedpage-content {
  display: flex;
  flex-wrap: wrap;
}

.users {
  background-color: white;
  padding: 2vw;
  margin: 2vw;
}

.users > h4 {
 text-align: center;
 text-decoration: none;
 color: black;
}

.users > img {
  width: 75px;
  height: 75px;
  margin: 2vw;
  object-fit: cover;
  border-radius: 100px;
}

.error-text {
  color: black;
  background-color: salmon;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
