* {
  margin: 0;
  padding: 0;
  /* letter-spacing: 3px; */
  letter-spacing: .2vw;
  text-transform: uppercase;
}

body {
  /* background: rgb(236,136,180);
  background: radial-gradient(circle, rgba(236,136,180,1) 0%, rgba(193,211,232,1) 125%); */
  background: black;
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.219);
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.452); */
  display: flex;
  justify-content: center;
}

.restrict {
  margin: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.restrict > h1 {
  font-weight: 400;
  /* letter-spacing: 5px; */
  letter-spacing: .4vw;
}

.restrict > h1 > a {
  color: whitesmoke;
  font-weight: 700;
}

.header-container {
  min-width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.logo-desc {
  text-align: center;
  cursor: pointer;
  transition: all 0.20s ease-in-out;
}

.logo-desc:hover{
  opacity: .90;
  transform: scale(1.02);
}


.logo-desc > h1 {
  /* background-color: rgb(236, 163, 165); */
  background-color: #695ccd;
  color: whitesmoke;
  /* margin-bottom: 3px; */
  margin-bottom: .2vw;
  letter-spacing: 1.5vw;
  /* font-size: 55px; */
  font-size: 3.4vw;
  /* padding-left: 20px; */
  padding-left: 1.25vw;
  /* padding-right: -10px; */
  padding-right: -.75vw;
}

.logo-desc > h5 {
  color: whitesmoke;
}

.redirect {
  /* margin-top: 10px; */
  margin-top: .75vw;
  /* margin-bottom: 10px; */
  margin-bottom: .75vw;
  background-color: #695ccd;
}

.header-buttons-container {
  display: flex;
  flex-direction: row;
}

.header-buttons-container > a {
  /* font-size: 18px; */
  font-size: 1.35vw; 
  /* margin: 5px; */
  margin: .4vw;
  /* margin-right: 10px; */
  margin-right: .75vw;
  border: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  /* background-color: #695ccd; */
  text-align: center;
  transition: all 0.25s ease-in-out;
  max-width: fit-content;
  /* padding: 6px; */
  padding: .35vw;
}

.header-buttons-container > a:hover {
  background-color: #695ccd;
  color: #f9f9fa;
}

.landingpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpage-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingpage-content > img {
  /* margin: 50px; */
  margin: 7.5vw;
}

.landingpage-content > h3 {
  max-width: 70%;
  text-align: center;
  /* margin-top: -30px; */
  margin-top: -2.25px;
  font-weight: 600;
  color: whitesmoke;
  /* margin-bottom: 50px; */
  margin-bottom: 3.75vw;
}

.blue-highlight {
  background-color: #695ccd;
  padding: 1px;
  font-weight: 600;
  text-align: center;
}

.white {
  color: whitesmoke;
}

.landpage-buttons {
  flex-direction: row;
  /* margin-top: 10px; */
  margin-top: .75vw;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  background-color: rgb(238, 229, 229);
  /* margin-top: 50px; */
  margin-top: 3.75vw;
  /* padding: 50px; */
  padding: 3.75vw;
  /* border-radius: 10px; */
  border-radius: .75vw;
  min-height: 100%;
  max-width: 20%;
}

form > h2 {
  text-align: center;
  /* margin-top: -15px; */
  margin-top: -1.1vw;
  /* margin-bottom: 20px; */
  margin-bottom: 1.5vw;
  max-width: 70%;
  min-width: 60%;
  align-self: center;
  /* font-size: 20px; */
  font-size: 1.5vw;
}

.typewriter {
  background-color: #695ccd;
  color: whitesmoke;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
  margin-bottom: .75vw;
}

.field > label {
  /* font-size: 15px; */
  font-size: 1.1vw;
  /* margin-bottom: 4px; */
  margin-bottom: .3vw;
}

.field > label:hover {
  color: #695ccd;
}

.field > input {
  min-width: 100%;
  border-radius: 5px;
  border: hidden;
  min-height: 25px;
  /* font-size: 18px; */
  font-size: 1.35vw;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  /* padding:  5px; */
  padding: .4vw;
  color: black;
  transition: all 0.15s ease-in-out;
}

.field > input:hover, .field > input:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

.submit {
  /* margin-top: 10px; */
  margin-top: .75vw;
  background-color: #695ccd;
  color: white;
  border: hidden;
  /* padding: 5px; */
  padding: .4vw;
  border-radius: 5px;
  min-height: 30px;
  align-self: center;
  min-width: 80%;
  /* font-size: 16px; */
  font-size: 1.2vw;
  outline: none;
  transition: all 0.35s ease-in-out;
  /* margin-bottom: -20px; */
  margin-bottom: -1.5vw;
  cursor: pointer;
}

.submit:hover {
  background-color: #695ccd80;

}

.cancel {
  background-color: salmon;
  /* margin-top: 25px; */
  margin-top: 1.9vw;
}

.cancel:hover {
  background-color: rgb(255, 48, 25);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 20px; */
  padding: 1.5vw;
  background-color: rgb(250, 250, 250);
  min-height: 10%;
}

.profile .profile-image{
  /* width: 200px; */
  width: 15vw;
  /* height: 200px; */
  height: 15vw;
  object-fit: cover;
  border-radius: 100%;
  margin-left: auto 0;
  justify-content: flex-start;
}

.profile .names {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  margin-right: auto 0;
  /* font-size: 1.3rem; */
  font-size: 1.3vw;
}

.fun-fact {
  font-weight: 500;
  letter-spacing: 1px;
}

.profile .pinpoint {
max-width: auto;
max-height: 30px;
margin-right: auto;
}

.profile .location {
  display: flex;
  flex-direction: row;
  margin-right: auto 0;
  /* font-size: 14px; */
  font-size: 1.05vw;
  justify-self: center;
}

.location > h4 {
  margin-top: 10%;
}

.add-button {
  display: flex;
  justify-content: center;
  /* margin-top: 1em; */
  margin-top: 1vw;
  /* margin-bottom: 2em; */
  margin-bottom: 2vw;
}

.add-button > button {
  min-width: 20%;
}

.goal-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  grid-auto-flow: row dense;
  transition: all 0.5s ease-in-out;
}

.goals > h3{
  color: whitesmoke;
  text-align: center;
  /* font-size: 30px; */
  font-size: 2.25vw;
}

#no-goals {
  /* margin-top: 5em; */
  margin-top: 11vw;
}

.single-goal {
  padding: 1vw;
  margin: 1vw;
  /* max-width: 20%;
  min-width: 20%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.incomplete {
  background-color: rgb(250, 250, 250);
}

.complete {
  background-color: rgb(179, 230, 132);
}

span.btn {
  background-color: transparent;
}

.btn {
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
  /* font-size: 20px; */
  font-size: 1.5vw;
  opacity: .50;
  transition: all 0.15s ease-in-out;
  border-radius: 3px;
  /* padding: 8px; */
  padding: .6vw;
}

.btn-danger {
  background-color: crimson;
  font-weight: 800;
}

.btn:hover {
  opacity: 1.00;
}

.single-goal > h4 {
  color: whitesmoke;
  /* font-size: 25px; */
  font-size: 1.9vw;
  /* padding-left: 3.5px; */
  padding-left: .26px;
  /* margin-bottom: 0.5em; */
  margin-bottom: 0.5vw;
  /* letter-spacing: 6px; */
  letter-spacing: .45vw;
}

.right {
  position: relative;
  /* bottom: 0.1em; */
  bottom: 0.1vw;
  /* right: -0.3em; */
  right: -0.3vw;
  font-weight: 400;
}

.single-goal > h5 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 18px;
  text-align: center;
}

.single-goal > p {
  margin-bottom: 0.5em;
  /* font-size: 18px; */
  font-size: 16px;

}

.single-goal > p {
  text-align: center;
  max-width: 80%;
}

.end {
  color: whitesmoke;
  text-align: center;
  opacity: .70;
  /* margin-top: 8em; */
  margin-top: 8vw;
}

.task-buttons {
  display: flex;
  justify-content: center;
  /* margin-top: 1em; */
  margin-top: 1vw;
}

.task-single-button {
  height: auto;
  max-width: 2.5em;
  opacity: .60;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  /* margin: 5px; */
  margin: .4vw;
}

#edit-button {
  max-width: 1.9em;
  position: relative;
  bottom: .07vw;
}

.task-single-button:hover {
  opacity: 1.00;
}

.feedpage-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 10px; */
  margin-top: .75vw;
  /* margin-bottom: 10px; */
  margin-bottom: .75vw;
}

.feedpage-controls > input {
  min-width: 270px;
  border-radius: 5px;
  border: hidden;
  outline: none;
  background-color: #8a7fd6;
  color: whitesmoke;
  /* padding: 10px; */
  padding: 1vw;
  /* font-size: 15px; */
  font-size: 1vw;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}

.feedpage-controls > input::placeholder {
  color: whitesmoke;
}

.feedpage-controls > .submit {
  min-width: 2vw;
  margin-top: 0px;
  align-self: unset;
  margin-bottom: 0px;
  /* padding: 10px; */
  padding: .75vw;
  font-size: 1vw;
}

.feedpage-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  grid-auto-flow: row dense;
}

.users {
  background-color: white;
  padding: 2vw;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users > h4 {
 text-align: center;
 text-decoration: none;
 color: black;
}

.users > img {
  /* width: 75px; */
  width: 5.6vw;
  /* height: 75px; */
  height: 5.6vw;
  margin: 2vw;
  object-fit: cover;
  border-radius: 100px;
}

.error-text {
  color: black;
  background-color: salmon;
  /* padding: 10px; */
  padding: .75vw;
  /* margin-bottom: 15px; */
  margin-bottom: -1.1vw;
  text-align: center;
}


/* POP UP FORM CSS */
.popup-content {
  max-width: 30%;
}

.modal {
  /* font-size: 15px; */
  font-size: -1.1vw;
}

.modal > form {
  background-color: white;
  margin-top: 0px;
  max-width: 90%;
}

.modal > .header {
  width: 99%;
  border-bottom: 1px solid gray;
  /* font-size: 20px; */
  font-size: 1.5vw;
  text-align: center;
  /* padding: 5px; */
  padding: .4vw;
}
.modal > .content {
  width: 100%;
  /* padding: 10px 5px; */
  padding: .75vw .4vw;
}
.modal > .actions {
  width: 100%;
  /* padding: 10px 5px; */
  padding: .75vw .4vw;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  /* line-height: 20px; */
  line-height: 1.5vw;
  /* right: -10px; */
  right: -.75vw;
  /* top: -8px; */
  top: -.6vw;
  /* font-size: 24px; */
  font-size: 1.8vw;
  background: salmon;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transition: all 0.35s ease-in-out;
}

.close > h5 {
  position: relative;
  /* margin-right: -2.3px; */
  margin-right: -1.7vw;
  color: whitesmoke;
  font-weight: 500;
}

.close:hover {
  background-color: rgb(255, 48, 25);
}
/* POP UP FORM CSS */

/* Media Query - Medium Screen */
@media screen and (max-width: 1047px) {
 
}
/* Media Query - Small Screen */
@media screen and (max-width: 769px) {

  .logo-desc > h1 {
    font-size: 10vw;
  }

  .header-buttons-container > a {
    font-size: 3vw; 
    margin: 2.5vw;
  }
}